<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.mappers.PersonMapper">

    <resultMap id="personResultMap" type="com.sms.entities.Person">
        <id property="id" column="id"/>
        <result property="firstName" column="first_name"/>
        <result property="middleName" column="middle_name"/>
        <result property="lastName" column="last_name"/>
        <result property="gender" column="gender"/>
        <result property="dateOfBirth" column="date_of_birth"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="findById" resultMap="personResultMap">
        SELECT * FROM persons WHERE id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO persons (
        first_name, middle_name, last_name, gender, date_of_birth, created_at, updated_at, person_type
        ) VALUES (
        #{firstName}, #{middleName}, #{lastName}, #{gender}, #{dateOfBirth}, #{createdAt}, #{updatedAt}, 'PERSON'
        )
    </insert>

    <insert id="saveWithType" useGeneratedKeys="true" keyProperty="person.id">
        INSERT INTO persons (
        first_name,
        middle_name,
        last_name,
        gender,
        date_of_birth,
        created_at,
        updated_at,
        person_type
        ) VALUES (
        #{person.firstName},
        #{person.middleName},
        #{person.lastName},
        #{person.gender},
        #{person.dateOfBirth},
        #{person.createdAt},
        #{person.updatedAt},
        #{type}
        )

        RETURNING id
    </insert>

    <update id="update" parameterType="com.sms.entities.Person">
        UPDATE persons SET
        first_name = #{firstName},
        middle_name = #{middleName},
        last_name = #{lastName},
        gender = #{gender},
        date_of_birth = #{dateOfBirth}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM persons WHERE id = #{id}
    </delete>

</mapper>
