<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sms.mappers.SchoolClassMapper">

    <!-- Result Map -->
    <resultMap id="SchoolClassResultMap" type="com.sms.entities.SchoolClass">
        <id property="id" column="id" />
        <result property="name" column="name" />
        <result property="level" column="level" javaType="com.sms.enums.Level" />
        <result property="grade" column="grade" javaType="com.sms.enums.Grade" />
        <result property="section" column="section" javaType="com.sms.enums.Section" />
<!--        <association property="classTeacher" column="teacher_id"-->
<!--                     javaType="com.sms.entities.Staff"-->
<!--                     select="com.sms.mappers.StaffMapper.findById"/>-->
    </resultMap>

    <!-- SQL Statements -->
    <select id="findAll" resultMap="SchoolClassResultMap">
        SELECT * FROM school_classes
    </select>

    <select id="findById" resultMap="SchoolClassResultMap">
        SELECT * FROM school_classes WHERE id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO school_classes (name, level, grade, section, teacher_id)
        VALUES (#{name}, #{level}, #{grade}, #{section}, #{classTeacher.id})
    </insert>

    <update id="update">
        UPDATE school_classes
        SET name = #{name},
        level = #{level},
        grade = #{grade},
        section = #{section},
        teacher_id = #{classTeacher.id}
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM school_classes WHERE id = #{id}
    </delete>

    <select id="existsByUniqueFields" resultType="boolean">
        SELECT CASE WHEN COUNT(*) > 0 THEN TRUE ELSE FALSE END
        FROM school_classes
        WHERE name = #{name}
        AND level = #{level}
        AND grade = #{grade}
        AND section = #{section}
    </select>

    <select id="findBySection" parameterType="com.sms.enums.Section" resultType="string">
        SELECT name FROM school_classes WHERE section = #{section}
    </select>

    <select id="findFullBySection" parameterType="com.sms.enums.Section" resultMap="SchoolClassResultMap">
        SELECT * FROM school_classes WHERE section = #{section}
    </select>

</mapper>