spring:
  profiles:
    active: local
jpa:
  hibernate:
    ddl-auto: update
  properties:
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
  sql:
    init:
      mode: always
      continue-on-error: true

vaadin:
  production-mode: false
  launch-browser: true

mybatis:
  mapper-locations: classpath:com/sms/mappers/*.xml
  type-aliases-package: com.sms.entities
  configuration:
    map-underscore-to-camel-case: true

server:
  servlet:
    session:
      timeout: 15m

paystack:
  secret-key: sk_test_e7fd3716c1beec1ca1c788208040db93d472ec93

prince:
  executable: C:\Program Files\Prince\engine\bin\prince
  log: C:\Users\pc\Documents\GitHub\sms\prince\prince.txt
  enableJs: false